.chips__chip {
  background-color: #d9d9d9;
  width: 100%;
  height: 15%;
  border-radius: 20px;
  border: solid;
  border-color: rgb(86, 85, 85);
}

.chips__info {
  margin-left: 5px;
  margin-top: 5px;
  font-size: small;
  color: rgb(111, 77, 204);
  font-family: "Roboto", sans-serif;
}
.chips {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
  z-index: 9999;
  position: fixed;
  right: 0;
  top: 50%;
  bottom: 50px;
  width: 20%;
}
