<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script  type="module" src="/script.js"></script>

    <link rel="stylesheet" href="/css/all.css"/>
    <link rel="stylesheet" href="/css/header/header.css" />
    <link rel="stylesheet" href="/css/main/main.css" />
    <link rel="stylesheet" href="/css/pageable/pageable.css" />
    <link rel="stylesheet" href="/css/chips.css" />

    <title>ГИА Контроль</title>
  <body>
    <header class="header">
      <h2 class="header__logo">ГИА КОНТРОЛЬ</h2>
      <div class="header__nav">
        <button class="header__nav-button"  th:onclick="|window.location.href='/observation'|">Наблюдение</button>
        <button class="header__nav-button" th:onclick="|window.location.href='/violations'|">Информация о нарушениях</button>
        <button class="header__nav-button" th:onclick="|window.location.href='/report'|">Сообщить о нарушении</button>
      </div>
      <div class="header__authorization">
        <button class="header__authorization-button" th:onclick="|window.location.href='/logout'|">Вход</button>
      </div>
    </header>
    <div class="pageable">
      <form class="pageable__serach" th:action="@{/violations/search}" th:object="${violation}" method="post">
        <button class="pageable__serach-button" id="search-btn" name="search-btn" type="submit">Поиск по</button>
        <input class="pageable__serach-input" placeholder="Город" th:field="*{city}"/>
        <input class="pageable__serach-input" placeholder="Школа" th:field="*{school}"/>
        <input class="pageable__serach-input" placeholder="Аудитория" th:field="*{auditorium}"/>
      </form>
          <div class="pageable__buttons">
            <button class="pageable__buttons-button"></button>
            <button class="pageable__buttons-button"></button>
            <button class="pageable__buttons-button"></button>
          </div>
    </div>
    <main class="main">
      <tr th:each="vio : ${vios}">
      <div class="main__content">
        <label class="main__content-info">Город:  </label>
        <label class="main__content-info" th:text="${vio.city}">_</label>
        <label class="main__content-info">Школа номер:  </label>
        <label class="main__content-info" th:text="${vio.school}">_</label>
        <label class="main__content-info">Аудитория номер:  </label>
        <label class="main__content-info" th:text="${vio.auditorium}">_</label>
        <label class="main__content-info">Камера:  </label>
        <label class="main__content-info" th:text="${vio.numberCamera}">_</label>
        <label class="main__content-info">Информация:  </label>
        <label class="main__content-info" th:text="${vio.info}">_</label>
      </div>
      </tr>
    </main>
  </body>
</html>
