.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main__content {
  border: solid;
  border-color: #d9d9d9;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
}

.main__content-video {
  width: 100%;
  height: 70%;
  margin-top: 10px;
  background-color: #d9d9d9;
}

.main__content-img {
  width: 100%;
  height: 70%;
  margin-top: 10px;
  background-color: #d9d9d9;
}

.main__content-info {
  color: rgb(111, 77, 204);
  font-family: "Roboto", sans-serif;
  font-size: large;
}

.get__chips{
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  background-color: rgb(111, 77, 204);
  height: 2em;
  width: fit-content;
  border: none;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 20px;
}
